# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccolortheme
*.xcworkspace
!default.xcworkspace
*.moved-aside
*.xcdatamodel#
*.xcdatamodeld#
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Firebase configuration
GoogleService-Info.plist
**/GoogleService-Info.plist
